<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	 <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Feed the Marshmallow{% endblock %}</title>
	
    {% block stylesheets %}
      <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" type="text/css" />
      <link rel="stylesheet" href="{{ asset('css/personal.css') }}" type="text/css" />
	  <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
      {#<link rel="stylesheet" href="{{ asset('css/bootstrap-responsive.css') }}" type="text/css" />#}
    {% endblock %}
  </head>
  
  
    <body>
		 <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ path('ftm_home') }}">FTM</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{{ path('ftm_home') }}">Home</a></li>
        <li><a href="{{ path('ftm_inscription') }}">Inscription Serveurs</a></li>
        <li><a href="{{ path('ftm_contact')}}">Contacts</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Serveurs <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{{ path('ftm_server') }}">Minecraft</a></li>
            <li><a href="{{ path('ftm_irc') }}">IRC</a></li>
            <li><a href="{{ path('ftm_mumble') }}">TeamSpeak</a></li>
            <li><a href="{{ path('ftm_dynmap') }}">Dynmap</a></li>
            <li><a href="{{path('ftm_player_whitelist')}}">La whitelist {% if is_granted('ROLE_ADMIN') %}{{render(controller('FtmPlayerBundle:Player:getWlNb'))}}{%endif%}</a></li>
          </ul>
        </li>
        {% if is_granted('ROLE_PLAYER') %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Membres <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{{path('ftm_download')}}">T&eacute;l&eacute;chargements</a></li>
            <li class="divider"></li>
            <li><a href="{{path('ftm_player_info')}}">Mes infos</a></li>
          </ul>
        </li>
        {%endif%}
        {% if is_granted('ROLE_CONTROLLER') %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Admin <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            {% if is_granted('ROLE_CONTROLLER') %}
            <li><a href="{{path('ftm_admin_list_demands')}}">Demandes {{render(controller('FtmPlayerBundle:Moderation:getInscriptionNB'))}}</a></li>
			      <li><a href="{{path('ftm_admin_news')}}">Nouvelle News</a></li>
            <li><a href="{{path('ftm_admin_mail')}}">Mail</a></li>
            <li class="divider"></li>
            {%endif%}
            <li><a href="{{path('ftm_server_controll')}}">Commandes Serveur</a></li>
          </ul>
        </li>
        {%endif%}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
          <li><a href="{{path('logout')}}">Logout</a></li>
        {%else%}
          <li><a href="{{path('login')}}">Login</a></li>
        {%endif%}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
	<header id="overview" class="jumbotron subhead">

    <div class="container"></div>

</header>
	<div class="container">
		{% for flashMessage in app.session.flashbag.get('success') %}
			<div class="alert alert-success">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
				{{ flashMessage }}
			</div>
		{% endfor %}
		{% for flashMessage in app.session.flashbag.get('error') %}
			<div class="alert alert-warning">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
				{{ flashMessage }}
			</div>
		{% endfor %}
	
	{% if is_granted('ROLE_PLAYER') %}
	{%else%}
		{% block topContainer %}
		{% endblock %}
	{%endif%}
		<div class="container-fluid">
			<div id="personal" class="row">
				{% block body %}
				{% endblock %}
			</div>
		</div>
		<hr>
		<footer>
			<p>ftmarshmallow.com © 2015.</p>
		</footer>
<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//analytics.ftmarshmallow.com/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 1]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//analytics.ftmarshmallow.com/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->


    </div>
  {% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/jquery-1.11.3.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>

  {% endblock %}
  </body>
</html>
