<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	 <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Feed the Marshmallow{% endblock %}</title>
	
    {% block stylesheets %}
      <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" type="text/css" />
	  <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
      <link rel="stylesheet" href="{{ asset('css/bootstrap-responsive.css') }}" type="text/css" />
    {% endblock %}
  </head>
  
  
    <body>
		 <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="{{ path('ftm_home') }}">Feed The marshmallow</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="{{ path('ftm_home') }}">Home</a></li>
              <li><a href="{{ path('ftm_inscription') }}">Inscription</a></li>
              <li><a href="{{ path('ftm_contact')}}">Contact</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Serveurs <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="{{ path('ftm_server') }}">Minecraft</a></li>
                  <li><a href="{{ path('ftm_irc') }}">IRC</a></li>
                  <li><a href="{{ path('ftm_mumble') }}">Mumble</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">Modpack</li>
                  <li><a href="#">Les mods</a></li>
                </ul>
              </li>
			  <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Membres <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="">T&eacute;l&eacute;chargements</a></li>
                  <li><a href="">Soartex ressource pack</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">Utilisateur</li>
				  {% if 1<2 %}
                  <li><a href="#">Mes infos</a></li>
				  {% endif %}
                </ul>
              </li>
            </ul>
            <form class="navbar-form pull-right">
              <input class="span2" type="text" placeholder="Email">
              <input class="span2" type="password" placeholder="Password">
              <button type="submit" class="btn">Sign in</button>
            </form>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
	
	<div class="container">
		{% block topContainer %}
		{% endblock %}
		<div class="row">	
			<div id="content" class="span9">
				{% block body %}
				{% endblock %}
			</div>
		</div>
		<hr>
		<footer>
			<p>ftmarshmallow.com © 2014.</p>
		</footer>
    </div>
  {% block javascripts %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
  {% endblock %}
  </body>
</html>
