{% extends "::base.html.twig" %}

{%block title %}Infos joueur{%endblock%}

{% block body %}
<div class="col-md-12" id="personal">
<h2>Mes infos <img src="https://minotar.net/avatar/{{username}}/32"></h2>
  <form method="post" {{ form_enctype(form) }}>
		<div class="form-group">
			{{form_label(form.username, 'Pseudo')}}
			{{ form_widget(form.username,{'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="form-group" role="form">
			{{form_label(form.email, 'E-Mail')}}
			{{ form_widget(form.email,{'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="form-group" role="form">
			{{form_label(form.age, 'Age')}}
			{{ form_widget(form.age,{'attr': {'class': 'form-control'}}) }}
		</div>
		{% if is_granted('ROLE_ADMIN') %}
		<div class="form-group">
   			<label for="API" class="required">API KEY</label>
    			<input class="form-control" id="API" type="text" placeholder="{{api}}" disabled>
  		</div>
  		{% endif %}
		{{ form_widget(form) }}
		<input type="submit" class="btn btn-primary" />
		<a href="{{path('ftm_player_password')}}"><button type="button" class="btn btn-danger">Changer le mot de passe</button></a>
	</form>
</div>
{%endblock%}